final class {{ generated_name }} implements {{ class_name }} {
  {{ generated_name }}._(this.connection);

  factory {{ generated_name }}.open(String path) {
    final connection = {{ open_expr }};
    return {{ generated_name }}._(connection);
  }

  final DatabaseConnection connection;

  Pool get pool => connection as Pool;
}

{{ migrations }}
