{{ enum_name }} _${{ enum_name }}FromJson(Object? json, [String key = 'json']) {
  return switch (json) {
{{ cases }}
    _ => throw ArgumentError.value(json, key, 'unknown value for {{ enum_name }} at $key'),
  };
}
