{{ field_type }} _{{ vm_lower }}Select{{ field_pascal }}({{ state_type }} state) => state.{{ field_name }};
final _{{ vm_lower }}{{ field_pascal }}Aspect = {{ aspect_class }}<{{ field_type }}>(
  _{{ vm_lower }}Select{{ field_pascal }},
);
