/// Generated async base class for {{ view_model_class }}.
///
/// Extend this class and implement `loadData`.
///
/// ```dart
/// final class {{ view_model_class }} extends {{ generated_base }} {
///   {{ view_model_class }}(super.args);
///
///   @override
///   Future<{{ data_type }}> loadData() {
///     return args.repository.load();
///   }
/// }
/// ```
abstract class {{ generated_base }} extends AsyncViewModelBase<{{ data_type }}, {{ args_type }}> {
  {{ generated_base }}(super.args);
}
