Page<dynamic> {{ build_page_function }}(
  {{ route_path_class }} route,
  LocalKey key,
  PopInvokedWithResultCallback<Object?> onPopInvoked,
) {
  assert(
    _$shellConsistencyCheck(),
    'Shell mismatch between \{{ routes_variable }} and {{ build_page_function }}',
  );
  return switch (route) {
{{ cases }}  };
}
