    {{ pattern }} => generatedPage(
      key: key,
      location: route.location,
      name: '{{ name }}',
{{ transition_arg }}      fullscreenDialog: {{ fullscreen_dialog }},
      maintainState: {{ maintain_state }},
      child: {{ child }},
    ),
