AppRoutePath parseAppRoute(Uri uri) {
  final segments = uri.pathSegments;

{{ cases }}  return _notFoundRoute(uri);
}

AppRoutePath _notFoundRoute(Uri uri) => {{ fallback }};
{{ bool_parser_helper }}
