String {{ route_location_function }}({{ route_path_class }} route) => route.location;

final class _$RouteUriExtras {
  const _$RouteUriExtras({
    required this.queryParameters,
    required this.fragment,
  });

  final Map<String, List<String>> queryParameters;
  final String fragment;
}

final Expando<_$RouteUriExtras> _$routeUriExtras = Expando<_$RouteUriExtras>();

_$RouteUriExtras? _$routeUriExtrasOf(Object route) => _$routeUriExtras[route];

T _$withRouteUriExtras<T extends {{ route_path_class }}>(
  T route,
  Uri uri,
  Set<String> knownQueryParameters,
) {
  final queryParameters = <String, List<String>>{};
  for (final entry in uri.queryParametersAll.entries) {
    if (!knownQueryParameters.contains(entry.key)) {
      queryParameters[entry.key] = List.unmodifiable(entry.value);
    }
  }
  if (queryParameters.isEmpty && uri.fragment.isEmpty) return route;
  _$routeUriExtras[route] = _$RouteUriExtras(
    queryParameters: Map.unmodifiable(queryParameters),
    fragment: uri.fragment,
  );
  return route;
}

String _$routePath(
  List<String> segments, {
  Map<String, dynamic>? queryParameters,
  _$RouteUriExtras? uriExtras,
}) {
  final query = <String, dynamic>{
    ...?queryParameters,
    ...?uriExtras?.queryParameters,
  };
  final text = Uri(
    pathSegments: segments,
    queryParameters: query.isEmpty ? null : query,
    fragment: uriExtras?.fragment.isEmpty ?? true ? null : uriExtras!.fragment,
  ).toString();
  if (text.isEmpty) return '/';
  return text.startsWith('/') ? text : '/$text';
}

bool {{ route_requires_auth_function }}({{ route_path_class }} route) => route.requiresAuth;

String? {{ route_branch_function }}({{ route_path_class }} route) {
  return switch (route) {
{{ branch_cases }}    _ => null,
  };
}

RouteDebugInfo {{ route_debug_info_function }}({{ route_path_class }} route) {
  return switch (route) {
{{ debug_cases }}  };
}

List<Object> {{ route_guards_function }}(
  {{ route_path_class }} route,
  {{ router_base_class }} router,
) {
  return switch (route) {
{{ guard_cases }}    _ => const [],
  };
}

extension {{ context_extension }} on BuildContext {
  RouterController<{{ route_path_class }}> get _routerController =>
      RouterController.of<{{ route_path_class }}>(this);
  {{ navigator_class }} get navigator => {{ navigator_class }}(_routerController);
}

final class {{ navigator_class }} {
  const {{ navigator_class }}(this._router);

  final RouterController<{{ route_path_class }}> _router;

{{ factories }}  bool pop<R>([R? result]) => _router.pop<R>(result);
}

final class {{ route_action_class }}<R> {
  const {{ route_action_class }}(this._router, this.route);

  final RouterController<{{ route_path_class }}> _router;
  final {{ route_path_class }}<R> route;

  void go() => _router.go(route);
  Future<R?> push() => _router.push<R>(route);
  void replace() => _router.replace(route);
}
