{{ route_path_class }} {{ parse_route_function }}(Uri uri) {
  final segments = uri.pathSegments;

{{ cases }}  return _$notFoundRoute(uri);
}

{{ route_path_class }} _$notFoundRoute(Uri uri) => {{ fallback }};
{{ bool_parser_helper }}
