abstract class {{ generated_base_class }} extends RouterBase<{{ route_path_class }}> {
{{ refresh_getter }}
  late final RouterConfig<{{ route_path_class }}> config = _buildConfig();

  RouterConfig<{{ route_path_class }}> _buildConfig() {
    final runtimeConfig = RouterRuntimeConfig<{{ route_path_class }}>(
      router: this,
      initialRoute: const {{ initial_route_class }}(),
      parseRoute: {{ parse_route_function }},
      routeLocation: {{ route_location_function }},
      requiresAuth: {{ route_requires_auth_function }},
      routeBranch: {{ route_branch_function }},
      resolveGuards: (route) => {{ route_guards_function }}(route, this),
      buildPage: {{ build_page_function }},
      restoreStack: {{ restore_stack_function }},
      debugInfo: {{ route_debug_info_function }},
      debugRoutes: {{ routes_variable }},
    );
    final delegate = GeneratedRouterDelegate<{{ route_path_class }}>(runtimeConfig);
    return RouterConfig<{{ route_path_class }}>(
      routeInformationProvider: PlatformRouteInformationProvider(
        initialRouteInformation: RouteInformation(
          uri: Uri.parse(
            WidgetsBinding.instance.platformDispatcher.defaultRouteName,
          ),
        ),
      ),
      routeInformationParser: GeneratedRouteInformationParser<{{ route_path_class }}>(
        parseRoute: {{ parse_route_function }},
        routeLocation: {{ route_location_function }},
      ),
      routerDelegate: delegate,
      backButtonDispatcher: RootBackButtonDispatcher(),
    );
  }
}
