    final _queryParameters = <String, dynamic>{};
    final _headers = <String, dynamic>{};
    final _extra = <String, dynamic>{};
{{ setup }}{{ request_data }}{{ options }}{{ fetch }}{{ completion }}
